a {color:#4d9575;}

#teaser {
  background-color:#3d735b;
  background: url(../../images/textures/wood.jpg) repeat 0 0!important;
  border-top:0
}

.slide-content p, .slide-content-center p , .slide-content-left p, .slide-content-right ul li p {
  color:#000;
  text-shadow:none
}

.slide-content a, .slide-content-left a {
  color:#f5f5f5;
  text-shadow: none;
  font-weight:normal;
}

.slide-content a.big-button, .slide-content-left a.big-button  {
  background: #658314; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DCE1B', endColorstr='#658314'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9DCE1B), to(#658314)); /* for webkit browsers */
  background: -moz-linear-gradient(center top,  #9DCE1B,  #658314); /* for firefox 3.6+ */ 
  border: 1px solid #44590c
}

.slide-content a:hover.big-button, .slide-content-left a:hover.big-button  {
  background: #44590c; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DCE1B', endColorstr='#44590c'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9DCE1B), to(#44590c)); /* for webkit browsers */
  background: -moz-linear-gradient(center top,  #9DCE1B,  #44590c); /* for firefox 3.6+ */ 
}

.calltoaction a.button  {
  background: #658314; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DCE1B', endColorstr='#658314'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9DCE1B), to(#658314)); /* for webkit browsers */
  background: -moz-linear-gradient(center top,  #9DCE1B,  #658314); /* for firefox 3.6+ */ 
  border: 1px solid #2b726a
}

.calltoaction a:hover.button  {
  background: #44590c; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DCE1B', endColorstr='#44590c'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9DCE1B), to(#44590c)); /* for webkit browsers */
  background: -moz-linear-gradient(center top,  #9DCE1B,  #44590c); /* for firefox 3.6+ */ 
}

a.contact-button  {
  background: #658314; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DCE1B', endColorstr='#658314'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9DCE1B), to(#658314)); /* for webkit browsers */
  background: -moz-linear-gradient(center top,  #9DCE1B,  #658314); /* for firefox 3.6+ */ 
  border: 1px solid #2b726a
}

a:hover.contact-button  {
  background: #44590c; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DCE1B', endColorstr='#44590c'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#9DCE1B), to(#44590c)); /* for webkit browsers */
  background: -moz-linear-gradient(center top,  #9DCE1B,  #44590c); /* for firefox 3.6+ */ 
}

#footer-copy h6 {
  color:#44590c;
}